<ng-container *ngIf="true">
    <div class="container">
        <div class="container">
            <div class="card-table">
                <div class="card-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sr.no</th>
                                <th>Product Name</th>
                                <th>Product Image</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Laptop</td>
                                <td>Img here</td>
                                <td>this is the laptop</td>
                                <td>45300</td>
                                <td>2</td>
                                <td>3</td>
                                <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h4 class="card-title">My Cart</h4>
        </div>
        <div class="center">
            <!-- img Pendding -->
            <img src="D:\Case Study\FastShopping\img\emptyshoppingbasket.jpg" alt="">
            <h5>Your cart is empty!</h5>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>