.form-control{
    border-radius: 5px;
    margin-left: 25px;
    width: 450px;
}
.search-icon{
    /* z-index: 10;
    position: absolute;
    right: 47%;
    color: black;
    top: 32%; */
    display: inline-block;
    float: right;
}